@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: #051821;
    --color-2: #1a4645;
    --color-3: #266867;
    --color-4: #f58800;
    --color-5: #f8bc24;
    --note-size: 350px;
}

/* Reset */
button {
    background: initial;
    border: initial;
    cursor: pointer;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
}

body {
    background: var(--color-1);
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 5rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    background: color-mix(in srgb, var(--color-1) 70%, transparent);
    backdrop-filter: blur(5px);
    z-index: 100;
}

#titleLogo {
    font-weight: 900;
}

#navBar {
    border-radius: 30px;
    border: 1px solid var(--color-4);
    padding: 0.3rem;
    background-color: color-mix(in srgb, var(--color-2) 50%, transparent);
    /* width: 25rem; */
}

#navBar ul {
    display: flex;
    gap: 1rem;
}

#navBar button {
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    border-radius: 30rem;
    color: var(--color-5);
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

#navBar button:hover {
    background-color: var(--color-5);
    color: black;
}


#navBar button:disabled {
    color: var(--color-5);
    background: color-mix(in srgb, var(--color-4) 30%, transparent);
    cursor: not-allowed;
}

.dateNote {
    margin: 0 1rem 1rem;
}

.notesHeader {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.icon {
    --icon-size: 1.4rem;
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 0.2rem;
    filter: invert(1);
}

.noteTime {
    text-wrap: nowrap;
    font-size: 1.2rem;
    font-weight: 200;
}

.line {
    width: 100%;
    border-top: 1px solid;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.noteContainer {
    min-width: var(--note-size);
    min-height: var(--note-size);
    width: var(--note-size);
    height: var(--note-size);
}

.note {
    width: var(--note-size);
    height: var(--note-size);
    background: var(--color-3);
    border-radius: 20px;
    border-top-left-radius: 0;
    overflow: hidden;
}

.noteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    padding: 1rem 1.4rem;
    background: var(--color-5);
}

.noteHeader h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteHeader .icon {
    --icon-size: 2.3rem;
    cursor: pointer;
    filter: none;
    background: var(--color-4);
    border-radius: 4px;
    padding: 0.5rem;
}

.noteOptions {
    display: flex;
    gap: 0.5rem;
}

.noteOptions li {
    display: flex;
}

.noteContent {
    overflow: auto;
    height: 69%;
    margin: 1.4rem;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.4rem;
}

main {
    border-bottom: 1px solid;
}

#footer {
    margin: 3.2rem auto;
    width: fit-content;
    padding: 1rem;
}

.note {
    animation: boom 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes boom {
    from {
        opacity: 0;
        height: calc(var(--note-size) - 50px);
        width: calc(var(--note-size) - 50px);
    }

    to {
        opacity: 1;
    }
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    background: initial;
    border: initial;
    color: var(--color-1);
    outline: none;
}

input::placeholder {
    color: color-mix(in srgb, var(--color-1) 78%, transparent);
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.78);
}

#notes {
    padding: 2rem;
}

#noteForm {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

#formNoteHeading {
    font-size: 48px;
    border-bottom: 2px solid var(--color-1);
    width: 100%;
}

#formNoteContent {
    min-width: 100%;
    max-width: 100%;
    background: var(--color-3);
    padding: 2rem;
    font-size: 24px;
    color: white;
    min-height: var(--note-size);
    border-bottom-left-radius: 20px;
}

#noNoteAvailable {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background: color-mix(in srgb, var(--color-2) 15%, transparent);
    color: color-mix(in srgb, var(--color-4) 80%, transparent);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-4);
}

@media only screen and (max-width: 500px) {
    :root {
        --note-size: 100%;
    }

    .dateNote {
        margin-left: 0;
        margin-right: 0;
    }

    .icon {
        --icon-size: 0.8rem;
        padding: 0;
    }

    .notes {
        padding-left: 0.5rem;
        padding-right: 0;
    }

    .note {
        min-height: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 450px) {
    #titleLogo {
        font-size: 19px;
    }

    #footer {
        font-size: 9.5px;
    }
}